@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.loadingState {
  @include loading-state;
}

.spinner {
  @include spinner;
  margin-bottom: $spacing-md;
}

.message {
  color: $text-secondary;
  font-size: $font-size-base;
  margin: 0;
}

/* Size variants */
.small {
  padding: $spacing-md;

  .spinner {
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  .message {
    font-size: $font-size-sm;
  }
}

.large {
  padding: $spacing-xxl;

  .spinner {
    width: 60px;
    height: 60px;
    border-width: 5px;
  }

  .message {
    font-size: $font-size-lg;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
