@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.formGroup {
  @include form-group;
}

.label {
  @include form-label;
}

.required {
  color: $error-color;
  margin-left: $spacing-xs;
}

.input {
  @include input-base;

  @include mobile {
    font-size: $font-size-sm;
    padding: $spacing-sm $spacing-md-sm;
  }
}

textarea.input {
  resize: vertical;
  min-height: 100px;
  line-height: 1.5;
}

.inputError {
  @include input-error;
}

.fieldError {
  @include field-error;
}
