@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.emptyState {
  @include empty-state;
}

.icon {
  font-size: $font-size-4xl;
  margin-bottom: $spacing-md;
  opacity: 0.7;
}

.message {
  color: $text-secondary;
  font-size: $font-size-base;
  margin: 0 0 $spacing-lg 0;
  max-width: 500px;
}

.cta {
  @include button-custom($success-color, $white);
  padding: $spacing-sm $spacing-lg;
  font-size: $font-size-sm;
  text-decoration: none;
  display: inline-block;
}
