@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.resetPassword {
  @include flex-center;
  min-height: calc(100vh - $header-h);
  padding: 2rem 0;
  background-color: $gray-light;
}

.card {
  @include card-base($white, 2rem, $radius-lg, $shadow);
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.title {
  @include section-heading;
  margin-bottom: 0.75rem;
}

.subtitle {
  color: $text-secondary;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.submitButton {
  @include button-base;
  @include button-variant($primary, $white);
  margin-top: 0.5rem;
  width: 100%;
}
