@use "sass:color";
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.forgotPassword {
  @include flex-center;
  min-height: calc(100vh - $header-h);
  padding: 2rem 0;
  background-color: $gray-light;
}

.card {
  @include card-base($white, 2rem, $radius-lg, $shadow);
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.title {
  @include section-heading;
  margin-bottom: 0.75rem;
}

.subtitle {
  color: $text-secondary;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.submitButton {
  @include button-base;
  @include button-custom($primary, $white);
  margin-top: 0.5rem;
  width: 100%;
}

.message {
  background-color: rgba($primary, 0.1);
  color: color.adjust($primary, $lightness: -10%);
  padding: 1rem;
  border-radius: $radius-md;
  font-weight: 500;
}

.backToLogin {
  margin-top: 1.5rem;
  font-size: 0.9rem;

  a {
    color: $primary;
    text-decoration: none;
    font-weight: 600;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
