@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.adminLayout {
    display: flex;
    min-height: 100vh;
}

.adminContent {
    flex-grow: 1;
    padding: $spacing-xl;
    background-color: $admin-content-bg;
}
