@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.sidebar {
    width: 250px;
    background-color: $admin-sidebar-bg;
    color: $admin-sidebar-text;
    padding: $spacing-xl $spacing-md;
    display: flex;
    flex-direction: column;
}

.nav {
    h2 {
        font-size: $font-size-2xl;
        margin-bottom: $spacing-xl;
        text-align: center;
        color: $white;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: $spacing-sm;
    }

    a {
        display: block;
        padding: $spacing-md-sm $spacing-md;
        color: $admin-sidebar-text;
        text-decoration: none;
        border-radius: $radius-sm;
        transition: $transition-normal;

        &:hover {
            background-color: $admin-sidebar-hover;
        }

        &.active {
            background-color: $admin-sidebar-active;
            color: $white;
        }
    }
}
