@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.errorState {
  @include error-state;
}

.icon {
  font-size: $font-size-3xl;
  margin-bottom: $spacing-md;
}

.message {
  color: darken($error-color, 20%);
  font-size: $font-size-base;
  margin: 0 0 $spacing-md 0;
  max-width: 600px;
}

.retryBtn {
  @include retry-button;
}
