@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.orders {
    padding: $spacing-xl;

    h1 {
        font-size: $font-size-4xl;
        margin-bottom: $spacing-xl;
    }
}

.table {
    @include data-table;
}

.statusSelect {
    @include input-base;
    padding: $spacing-sm;
    cursor: pointer;
    font-size: $font-size-sm;

    &:focus {
        border-color: $secondary;
        outline: none;
        box-shadow: 0 0 0 3px rgba($secondary, 0.25);
    }
}

.button {
    @include button-primary;
    padding: $spacing-sm $spacing-md;
    margin-right: $spacing-sm;
}
