@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.products {
    padding: $spacing-xl;

    h1 {
        font-size: $font-size-4xl;
        margin-bottom: $spacing-xl;
    }
}

.table {
    @include data-table;
}

.productImage {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    border-radius: $radius-sm;
}

.button {
    @include button-primary;
    padding: $spacing-sm $spacing-md;
    margin-right: $spacing-sm;
}

.deleteButton {
    @include button-delete;
}
