@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.adminUserEdit {
    padding: $spacing-xl;
    max-width: $container-sm;
    margin: 0 auto;
    background-color: $gray-light;
    border-radius: $radius-md;
    box-shadow: $shadow-md;

    h1 {
        font-size: $font-size-4xl;
        margin-bottom: $spacing-lg;
        color: $gray-dark;
        text-align: center;
    }

    form {
        @include form-container;
    }

    .formGroup {
        @include form-group;

        label {
            @include form-label;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea,
        select {
            @include input-base;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right $spacing-md-sm center;
            background-size: 1.2em;
        }

        textarea {
            background-image: none;
            resize: vertical;
            font-family: inherit;
        }

        small {
            font-size: $font-size-sm;
            color: $text-secondary;
            margin-top: $spacing-xs;
        }
    }

    .error {
        @include message-error;
        margin-bottom: $spacing-md;
    }

    .buttonGroup {
        @include form-actions;
    }

    button {
        padding: $spacing-md-sm $spacing-lg;
        border: none;
        border-radius: $radius-sm;
        cursor: pointer;
        font-size: $font-size-base;
        transition: $transition-fast;
        flex: 1;
    }

    .submitButton,
    button[type="submit"] {
        @include button-primary;
    }

    .cancelButton,
    button[type="button"] {
        background-color: $muted;
        color: $white;

        &:hover:not(:disabled) {
            background-color: darken($muted, 10%);
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}
