@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.comments {
    padding: $spacing-xl;

    h1 {
        font-size: $font-size-4xl;
        margin-bottom: $spacing-xl;
    }
}

.table {
    @include data-table;
}

.button {
    @include button-primary;
    padding: $spacing-sm $spacing-md;
    margin-right: $spacing-sm;
}

.deleteButton {
    @include button-delete;
}
