@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.users {
    padding: $spacing-xl;

    h1 {
        font-size: $font-size-4xl;
        margin-bottom: $spacing-xl;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-xl;

    h1 {
        margin-bottom: 0;
    }
}

.createButton {
    @include button-custom($success-color, $white);
    padding: $spacing-md-sm $spacing-lg;
    font-weight: $font-weight-semibold;
    font-size: $font-size-base;

    &:active {
        transform: scale(0.98);
    }
}

.table {
    @include data-table;
}

.button {
    @include button-primary;
    padding: $spacing-sm $spacing-md;
    margin-right: $spacing-sm;
}

.deleteButton {
    @include button-delete;
}
