@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.dashboard {
    padding: $spacing-xl;

    h1 {
        font-size: $font-size-4xl;
        margin-bottom: $spacing-xl;
    }
}

.stats {
    @include grid-cols(auto-fit, 200px);
    gap: $spacing-lg;
}

.statCard {
    @include card-base;
    background-color: $gray-light;
    border: 1px solid $border;
    padding: $spacing-lg;
    text-align: center;

    h2 {
        font-size: $font-size-xl;
        margin-bottom: $spacing-sm;
        color: $gray-dark;
    }

    p {
        font-size: $font-size-3xl;
        font-weight: $font-weight-bold;
        color: $secondary;
    }
}
